amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.4.1
billiard==3.3.0.23
boto==2.40.0
boto3==1.3.1
botocore==1.4.21
celery==3.1.23
chardet==2.3.0
creole==1.2
Django==1.9.3
django-angular-scaffold==0.12.1
django-appconf==1.0.2
django-celery==3.1.17
django-celery-email==1.1.4
django-compressor==2.0
django-cors-headers==1.1.0
django-disqus==0.5
django-email-extras==0.3.2
django-email-log==0.2.0
django-extensions==1.6.7
django-gravatar2==1.4.0
django-haystack==2.4.1
django-jet==0.1.4
django-logentry-admin==0.1.5
django-mailer==1.1
django-mailgun==0.9.1
django-modeltranslation==0.11
django-newsletter==0.6
django-nose==1.4.3
django-request==1.4.0
-e git://github.com/prontodev/django-slack.git@f1160cab6dd9de0ad82528f9d1052841982a087d#egg=django_slack-master
django-social-widgets==0.4.0
django-storages==1.4.1
django-tastypie==0.13.3
django-templated-email==0.4.9
django-user-accounts==1.3.1
django-webtest==1.7.9
djwebsockets==0.9.6
dnspython==1.13.0
docutils==0.12
domcheck==1.1.4
ecdsa==0.13
eight==0.3.3
Fabric==1.11.1
funcsigs==1.0.2
future==0.15.2
futures==3.0.5
greenlet==0.4.9
gunicorn==19.4.5
jmespath==0.9.0
kombu==3.0.35
ldif3==3.1.1
lockfile==0.12.2
Markdown==2.6.6
mock==2.0.0
nose==1.3.7
paramiko==1.17.0
pbr==1.9.1
Pillow==3.2.0
pinax-announcements==2.0.3
pinax-blog==5.0.0
pinax-messages==0.2
pinax-models==2.0
pinax-waitinglist==1.1.1
pinax-webanalytics==2.0.1
psycopg2==2.6.1
pycrypto==2.6.1
Pygments==2.1.3
PyJWT==1.4.0
python-card-me==0.9.3
python-dateutil==2.5.0
python-gnupg==0.3.8
python-mimeparse==1.5.1
pytz==2015.7
rcssmin==1.0.6
redis==2.10.5
requests==2.10.0
rjsmin==1.0.12
six==1.10.0
slackclient==1.0.0
sorl-thumbnail==12.3
sphinx-me==0.3
ssh==1.8.0
surlex==0.2.0
unicodecsv==0.14.1
waitress==0.9.0
watchtower==0.2.0
WebOb==1.6.0
websocket-client==0.37.0
WebTest==2.0.21
whois==0.7
