{% include "account/header.html" %}
{% include "account/nav.html" %}
{% include "account/footer.html" %}

{% load static from staticfiles %}
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <div class="row">
            <div class="col-lg-11 main-chart" style="padding-left: 3em">
              <div class="nav pull-right top-menu">

            <div class="btn-group">
              <button type="button" class="btn btn-theme dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-new"></i> Create <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:;"  data-toggle="modal" data-target="#org">Organisation</a></li>
                <li><a href="javascript:;"  data-toggle="modal" data-target="#workspace">Workspace</a></li>
                <li><a href="javascript:;"  data-toggle="modal" data-target="#hub">Hub</a></li>
                <li class="divider"></li>
                <li><a href="javascript:;"  data-toggle="modal" data-target="#endpoint">Endpoint</a></li>
              </ul>
            </div>
            </div>
              <div class="row mtbox">
                <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                  <div class="box1">
            <span class="li_heart"></span>
            <h3>933</h3>
                  </div>
            <p>933 People liked your services. Whoohoo!</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                  <div class="box1">
            <span class="li_cloud"></span>
            <h3>+48</h3>
                  </div>
            <p>48 API requests to your endpoints today.</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                  <div class="box1">
            <span class="li_stack"></span>
            <h3>23</h3>
                  </div>
            <p>You have 23 unread messages in your inbox.</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                  <div class="box1">
            <span class="li_user"></span>
            <h3>+10</h3>
                  </div>
            <p>Users subscribed to your services.</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                  <div class="box1">
            <span class="li_data"></span>
            <h3 class="primary">OK!</h3>
                  </div>
            <p>Your server is working perfectly. Relax & enjoy.</p>
                </div>

              </div><!-- /row mt -->

    <div class="row mt set">
                <!--CUSTOM CHART START -->
                <div class="border-head">
                    <h3>VISITS</h3>
                </div>
                <div class="custom-bar-chart">
                    <ul class="y-axis">
                        <li><span>10.000</span></li>
                        <li><span>8.000</span></li>
                        <li><span>6.000</span></li>
                        <li><span>4.000</span></li>
                        <li><span>2.000</span></li>
                        <li><span>0</span></li>
                    </ul>
                    <div class="bar">
                        <div class="title">JAN</div>
                        <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top">85%</div>
                    </div>
                    <div class="bar ">
                        <div class="title">FEB</div>
                        <div class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top">50%</div>
                    </div>
                    <div class="bar ">
                        <div class="title">MAR</div>
                        <div class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top">60%</div>
                    </div>
                    <div class="bar ">
                        <div class="title">APR</div>
                        <div class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top">45%</div>
                    </div>
                    <div class="bar">
                        <div class="title">MAY</div>
                        <div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">32%</div>
                    </div>
                    <div class="bar ">
                        <div class="title">JUN</div>
                        <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">62%</div>
                    </div>
                    <div class="bar">
                        <div class="title">JUL</div>
                        <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
                    </div>
                </div>
                <!--custom chart end-->
             </div><!-- /row -->

            </div><!-- /col-lg-9 END SECTION MIDDLE -->



            <div class="col-lg-3 ds hidden">
              <!--COMPLETED ACTIONS DONUTS CHART-->
              <h3>NOTIFICATIONS</h3>

                <!-- First Action -->
                <div class="desc">
                  <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                  </div>
                  <div class="details">
                    <p><muted>2 Minutes Ago</muted><br/>
                       <a href="#">James Brown</a> subscribed to your newsletter.<br/>
                    </p>
                  </div>
                </div>
                <!-- Second Action -->
                <div class="desc">
                  <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                  </div>
                  <div class="details">
                    <p><muted>3 Hours Ago</muted><br/>
                       <a href="#">Diana Kennedy</a> purchased a year subscription.<br/>
                    </p>
                  </div>
                </div>
                <!-- Third Action -->
                <div class="desc">
                  <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                  </div>
                  <div class="details">
                    <p><muted>7 Hours Ago</muted><br/>
                       <a href="#">Brandon Page</a> purchased a year subscription.<br/>
                    </p>
                  </div>
                </div>
                <!-- Fourth Action -->
                <div class="desc">
                  <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                  </div>
                  <div class="details">
                    <p><muted>11 Hours Ago</muted><br/>
                       <a href="#">Mark Twain</a> commented your post.<br/>
                    </p>
                  </div>
                </div>
                <!-- Fifth Action -->
                <div class="desc">
                  <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                  </div>
                  <div class="details">
                    <p><muted>18 Hours Ago</muted><br/>
                       <a href="#">Daniel Pratt</a> purchased a wallet in your store.<br/>
                    </p>
                  </div>
                </div>
            </div><!-- /col-lg-3 -->
        </div><!--/row -->
    </section>
</section>

<!--main content end-->
<!-- Modals -->
    <!-- Org -->
    <div class="modal fade" id="org" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create New Organisation</h4>
          </div>
          <div class="modal-body" flow-init>
            <div class="alert alert-danger alert-dismissable" data-ng-show="vm.org.message" style="border-radius: 0px">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong ng-bind="errCode"></strong> <p ng-bind="message"></p>
            </div>
            <label>Business Name</label>
            <input type="text" class="form-control" data-ng-model="vm.org.name" placeholder="Name of Organisation" autofocus>
            <br>
            <label>Website</label>
            <input type="url" class="form-control" data-ng-model="vm.org.url" placeholder="https://apipanda.com">
            <br>
            <label>Plan <sup><i class="fa text-primary fa-question-circle"></i></sup></label>
            <select class="form-control" data-ng-model="vm.org.plan">
                {% for key, plan in plans %}
                    <option value={{key}} data-ng-selected="{{key}} === TIER2">{{plan}}</option>
                {% endfor %}
            </select>
            <br>
            <label>Logo</label>
            <input type="file" class="form-control" flow-btn />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-flat" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Workspace -->
    <div class="modal fade" id="workspace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            Hi there, I am a Modal Example for Dashgum Admin Panel.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Hub -->
    <div class="modal fade" id="hub" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            Hi there, I am a Modal Example for Dashgum Admin Panel.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Endpoint -->
    <div class="modal fade" id="endpoint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            Hi there, I am a Modal Example for Dashgum Admin Panel.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
<!-- /End Modal -->
{% block local_js %}
  <script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        });

    $('#accordion').dcAccordion({
        eventType: 'click',
        autoClose: true,
        saveState: true,
        disableLink: true,
        speed: 'slow',
        showCount: false,
        autoExpand: true,
//        cookie: 'dcjq-accordion-1',
        classExpand: 'dcjq-current-parent'
    });

        // custom bar chart

    jQuery('#sidebar .sub-menu > a').click(function () {
        var o = ($(this).offset());
        diff = 250 - o.top;
        if(diff>0)
            $("#sidebar").scrollTo("-="+Math.abs(diff),500);
        else
            $("#sidebar").scrollTo("+="+Math.abs(diff),500);
    });



    //    sidebar toggle

        $(function() {
            function responsiveView() {
                var wSize = $(window).width();
                if (wSize <= 768) {
                    $('#container').addClass('sidebar-close');
                    $('#sidebar > ul').hide();
                }

                if (wSize > 768) {
                    $('#container').removeClass('sidebar-close');
                    $('#sidebar > ul').show();
                }
            }
            $(window).on('load', responsiveView);
            $(window).on('resize', responsiveView);
        });

        $('.fa-bars').click(function () {
            if ($('#sidebar > ul').is(":visible") === true) {
                $('#main-content').css({
                    'margin-left': '0px'
                });
                $('#sidebar').css({
                    'margin-left': '-210px'
                });
                $('#sidebar > ul').hide();
                $("#container").addClass("sidebar-closed");
            } else {
                $('#main-content').css({
                    'margin-left': '210px'
                });
                $('#sidebar > ul').show();
                $('#sidebar').css({
                    'margin-left': '0'
                });
                $("#container").removeClass("sidebar-closed");
            }
        });

    // custom scrollbar
        $("#sidebar").niceScroll({styler:"fb",cursorcolor:"#4ECDC4", cursorwidth: '3', cursorborderradius: '10px', background: '#404040', spacebarenabled:false, cursorborder: ''});

        $("html").niceScroll({styler:"fb",cursorcolor:"#4ECDC4", cursorwidth: '6', cursorborderradius: '10px', background: '#404040', spacebarenabled:false,  cursorborder: '', zindex: '1000'});

    // widget tools

        jQuery('.panel .tools .fa-chevron-down').click(function () {
            var el = jQuery(this).parents(".panel").children(".panel-body");
            if (jQuery(this).hasClass("fa-chevron-down")) {
                jQuery(this).removeClass("fa-chevron-down").addClass("fa-chevron-up");
                el.slideUp(200);
            } else {
                jQuery(this).removeClass("fa-chevron-up").addClass("fa-chevron-down");
                el.slideDown(200);
            }
        });

        jQuery('.panel .tools .fa-times').click(function () {
            jQuery(this).parents(".panel").parent().remove();
        });


    //    tool tips

        $('.tooltips').tooltip();

    //    popovers

        $('.popovers').popover();



    // custom bar chart

        if ($(".custom-bar-chart")) {
            $(".bar").each(function () {
                var i = $(this).find(".value").html();
                $(this).find(".value").html("");
                $(this).find(".value").animate({
                    height: i
                }, 2000)
            })
        }


        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>

{% endblock local_js %}