option_settings:

    aws:elasticbeanstalk:command:
        Timeout: 1800

    aws:elasticbeanstalk:container:python:
        WSGIPath: manage.py
        NumProcesses: 3
        NumThreads: 20

    aws:elasticbeanstalk:container:python:staticfiles:
        "/static/": static/

    aws:elasticbeanstalk:application:environment:

        FLASK_SETTINGS_MODULE: app.config.ProdConfig
        NAMEKO_AMQP_URI: amqp://rvugybhn:ztDYBviBEQCg-8o_O7jgtjIGABFWF44O@impala.rmq.cloudamqp.com/rvugybhn
        REDIS_URL: redis://redistogo:f8a84dd02ddd32d65d9ae643a8f25543@jack.redistogo.com:11455/
        MONGO_URI: mongodb://heroku_gs38cfwx:dui5dhnfogtq16i0s561fbnojv@ds137435.mlab.com:37435/heroku_gs38cfwx
        SSL_DISABLE: True


