{% load social_widgets %}
{% block footer %}
 <!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        Crafted with <small><i class="fa fa-heart" style="color: rgba(240, 0, 0, 0.8)"></i></small> in <a class="font-w600" href="https://goo.gl/maps/bx8uq6ufMas" target="_blank">Lagos</a>
    </div>
    <br>
    <div class="social text-center">
        {% social_widget_render "twitter/follow_button.html" username="openssl_io" show_screen_name=True show_count=False size="medium" dnt=False %}
    </div>
</footer>
<!--footer end-->
{% endblock footer %}