{% block header %}
{% include "common/header.html" %}
{% endblock header %}

{% block page %}

{% endblock page %}

{% block footer %}
{% include "common/footer.html" %}
{% endblock footer %}

{% block local_js %}
<script>
    // jQuery to collapse the navbar on scroll
    function collapseNavbar() {
        if ($(".navbar").offset().top > 50) {
            $(".navbar-fixed-top").addClass("top-nav-collapse");
        } else {
            $(".navbar-fixed-top").removeClass("top-nav-collapse");
        }
    }
$(window).scroll(collapseNavbar);
$(document).ready(collapseNavbar);

</script>
{% endblock local_js %}