{% extends "common/base.html" %}
{% load static from staticfiles %}

{% block page %}
    <!--main content start-->
    <div class="container">
        <div class="row content-section">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="card">
                <div class="header">
                    <h4 class="title">Manage your account</h4>
                </div>
                <div class="content">
                  <form class="form-login">
                    <div class="alert alert-danger alert-dismissable" data-ng-show="message">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong ng-bind="errCode"></strong> <small ng-bind="message"></small>
                    </div>
                    <div class="login-wrap">
                        <input type="email" class="form-control" data-ng-model="vm.email" placeholder="Email" autofocus>
                        <br>
                        <input type="password" class="form-control" data-ng-model="vm.password" placeholder="Password">
                            <br>
                        <button class="btn btn-theme btn-block" href="index.html" type="submit" data-ng-click="login(vm.email, vm.password)"><i class="fa fa-lock"></i> SIGN IN</button>
                            <div class="checkbox">
                                <span class="pull-right">
                                    <a href="/recover"> Forgot Password?</a>
                                </span>
                            </div>
                            <br>
                        <hr>

                        <div class="login-social-link centered hidden">
                        <p>or you can sign in via</p>
                            <button class="btn btn-github" type="submit"><i class="fa fa-github"></i> Github</button>
                            <button class="btn btn-bitbucket" type="submit"><i class="fa fa-bitbucket"></i> Bitbucket</button>
                        </div>
                        <div class="registration">
                            No certificate yet?<br/>
                            <a class="" href="/">
                                Secure your domain
                            </a>
                        </div>

                    </div>

                  </form>

                </div>
            </div>
          </div>
        </div>
    </div>
    <!--main content end-->
{% endblock page %}