{% extends "common/base.html" %}
{% load static from staticfiles %}

{% block page %}
<!--main content start-->
<div class="container">
    <div class="row content-section">

        <div class="col-lg-8 col-lg-offset-2 form-login">
            <div class="card">
                <div class="header">
                    <h4 class="modal-title">Forgot Password ?</h4>
                </div>
                <br>
                <div class="alert alert-danger alert-dismissable" ng-show="message" style="border-radius: 0px">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-ng-show="message">&times;</button>
                    <strong ng-bind=""></strong>
                    <p ng-bind="message"></p>
                </div>
                <div class="modal-body">
                    <p>Enter your e-mail address below to reset your password.</p>
                    <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-theme" type="button">Cancel</button>
                    <button class="btn btn-primary" type="button">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>

<!--main content end-->
{% endblock page %}